@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    text-decoration: none;
    font-family: Tahoma, sans-serif;
    background-color: rgb(236, 239, 228);
}


/* START HEADER*/
#header {
    display: flex;
    justify-content: space-between;
    top: 0%;
    padding: 1rem 0;
    align-items: center;
    background-color: #0f0f0f;
    position: fixed;
    width: 100%;
    z-index: 999;
}

#logo {
    display: flex;
    margin-left: 3rem;
}

#header-img {
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.product-name {
    font-size: 3rem;
    font-family: 'Permanent Marker', cursive;
    color: rgb(207, 220, 172);
    letter-spacing: 1rem;
}

#nav-bar ul {
    display: flex;
    list-style: none;
    padding-right: 2rem;
}

#nav-bar ul li {
    margin-left: 3rem;
    border-left: 0.2rem solid gray;
}

#nav-bar ul li a {
    text-decoration: none;
    color: antiquewhite;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    
}

#nav-bar ul li a:hover {
    color: #0f0f0f;
    background-color: rgb(216, 225, 192);

}




/* START MAIN PAGE*/
#prepage {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    place-items: center;
    align-content: space-between;
    margin: 4rem 0;
}

#intro {
    display: flex;
    flex-wrap: wrap;
}

#product-name {
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    color: rgb(150, 165, 108);
    letter-spacing: 1rem;

}

.description {
    font-size: 2rem;
    font-family: 'Lucida Sans Unicode', sans-serif;
    color: rgb(66, 64, 64);
    padding-left: 3rem;
    font-weight: bold;
}

.logo-img {
    width: 8rem;
}

.rice-img {
    height: 80%;
    filter: grayscale(50%);
    border-radius: 2%;
    box-shadow: 5px 5px 5px rgb(41, 41, 41);
}

.rice-img:hover {
    filter: grayscale(0%);
}

.hashtag {
    color: rgb(12, 92, 121);
}


/* START PRODUCT */
#product{
    display: flex;
    flex-direction: column;
}

#product h2{
    --color-1: #607104;
    --color-2: #ACCFCB;
    --color-3: #17494D;
    animation: color-animation 4s linear infinite;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.rice-images {
    width: 70%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 4rem;
}

.rice-image {
    width: 100%;
    border: 0.5rem solid #3c3c3c;
    filter: grayscale(40%);
    border-radius: 5%;
}

.rice-image:hover {
    transform: scale(1.2) rotate(-1deg);
    filter: grayscale(0%)
}




/* START FORM */

section {
    width: 100%;
    margin: 3rem auto;
    align-items: center;

}
#form {
    width: 80%;
    min-width: 420px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#form fieldset {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border: 0.3rem solid #313131;
    border-radius: 2%;
    margin-top: 6rem;
}

#form fieldset:hover {
    background-color: #fffff4;
}

#form fieldset h2{
    text-align: center;
    font-size: 3rem;
    
}

#form fieldset label{
    font-size: large;
    font-weight: bold;
    padding-top: 2rem;
    padding-bottom: 1rem;
    color: #494848;
}

#form fieldset input:not(#submit), textarea {
    border: 0.3rem solid rgb(214, 214, 214);
}

#form fieldset input:not(textarea) {
    height: 4rem;
}

#submit {
    padding: 1rem;
    background-color: rgb(154, 169, 115);
    border-color: #ffffff;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 0.2rem;
}

#product {
    display: flex;
    justify-content: center;
}




/* START ABOUT --> */
#about {
    background-color: #262525;
    height: 100%;
    color: aliceblue;
}

footer p{
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', sans-serif;
}


@media only screen and (max-width: 768.9px) {
    #nav-bar ul li a {
        font-size: 1rem;
    }
    #prepage {
        display: flex;
        flex-direction: column-reverse;
        place-items: center;
        margin: 7rem auto;}
        
    .rice-img {
        width: 50%;
    }

}

@media (max-width: 1199px) and (min-width: 769px) {
    #prepage {
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        margin: 7rem auto;
        grid-template-areas: 
            "intro intro";
    }
    
    .rice-img {
        width: 75%; 
    }

    #intro {
        width: fit-content;
        grid-area: intro;
    }
}
